= link_to "Добавить маршрутных листов", [@facility, @facility.itineraries.new]
/ new_facility_itinerary_path(@facility)
%h2 Маршрутные листы
%table
 %thead
  %tr
   %th Маршрутный лист
   %th Ответственный
   %th Опции
 %tbody
  - @facility.itineraries.each do |i|
   %tr
    %td
     = i.name
    %td
     Работник
    %td
     / =# link_to "Удалить", i, method: :delete
     / =# link_to "Удалить", itinerary_path(i.id), method: :delete
     = link_to "Удалить", action: "destroy", controller: "itineraries", id: "#{i.id}", method: :delete