.new-itinenrary
 = form_for [@facility, @itinerary] do |itinerary|
  %b= @facility.name
  %hr
  = itinerary.label :name, "Название маршрутного листа"
  = itinerary.text_field :name
  %fieldset.first
   %ledend 
    %b Элемент первой вложенности
   - @facility.build_elements.each do |be|
    - unless be.placements.empty? || @facility.itineraries.map(&:build_elements).flatten.include?(be.id.to_s)
     .element-block
      .list
       .first
        = be.kind
        = itinerary.check_box("build_elements", {multiple: true}, be.id, nil)
      %br
      /----------------ПОМЕЩЕНИЯ--------------------
      %fieldset.second
       - unless be.placements.empty?
        %legend 
         %b Элементы второй вложенности
        - be.placements.includes(:nested_placements).each do |placement|
         .placement-block
          .list
           .second
            %table
             %tr
              %td
               = placement.kind
              %td
               = itinerary.check_box("placements", {multiple: true}, placement.id, nil)
           %br
           /----------------ВНУТРЕННИЕ-ПОМЕЩЕНИЯ----------       
           %fieldset.third
            - unless placement.nested_placements.empty?
             %legend
              %b Элементы третей вложенности
             - placement.nested_placements.each do |np|
              .nested-placement-block
               .list
                .third
                 = np.kind
                 = itinerary.check_box("nested_placements", {multiple: true}, np.id, nil)
                %br
  %br
  %br
  = itinerary.submit "Создать"