%h2 new employee
.employee
 = form_for @this_new, url: employee_index_path, method: :post do |f|
  = f.label :name
  %br
  = f.text_field :name
  %br
  = f.label :sex
  %br
  = f.check_box :sex
  %br
  = f.label :languages, 'France language'
  %br
  = f.check_box("languages", {multiple: true}, "France", nil)
  %br
  = f.label :languages, 'Deutsch language'
  %br
  = f.check_box("languages", {multiple: true}, "Deutsch", nil)
  %br
  = f.label :languages, 'Russian language'
  %br
  = f.check_box("languages", {multiple: true}, "Russian", nil)
  %br
  = f.submit 'Создать'

  - if @this_new.errors.any?
   = @err_s = @this_new.errors.full_messages.map { |i| i }
   = flash[:errors] = @err_s.to_s[1..-2]



.employee
 = form_for [@facility, @employee] do |f|
  = f.label :name
  %br
  = f.text_field :name
  %br
  = f.submit 'Создать'





