.users-list
 %table
  %th
   Имя
  %th
   Email
  %th
   Статус
  %th
   Настройки
  - @users.each do |u|
   %tr
    %td
     = u.name
    %td
     = u.email
    %td.status
     = u.supervisor ? "Супервизор" : u.inspector ? "Инспектор" : "Обычный пользователь"
    %td
     - if u.supervisor
      %p
       'xxxxxxxxxxxxxxxxxxxxxxxxxxxx'
     - else
      = form_for u, remote: true do |f|
       = f.hidden_field :inspector, value: u.inspector? ? false : true
       = f.submit "Изменить статус", class: "user-status-button"