$default_blue: #836296; //rgb(7, 74, 156);
$default_orange: #F67C5A;
#{$all-buttons} {
  appearance: none;
  background-color: $default_orange;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    // background-color: shade($default_orange, 20%);
    // background-color: tint($default_orange, 20%);
    border-color: $default_orange;
    box-shadow: $form-box-shadow-focus;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $default_orange;
    }
  }
}
