.boxing.nested-fields
 %table
  %tr
   %td.order-number
    %p
   %td.input
    = f.text_field :kind, class: "input"
   %td.context-menu{oncontextmenu:"return false;"}
    %i{class: "fa fa-bars"}
    .context-menu-list
     %ul
      %li=link_to_add_association content_tag(:i, " Добавить вложенный элемент", class: 'fa fa-plus-square-o'), f, :placements, "data-association-insertion-method" => 'append', "data-association-insertion-node" => '.num-2', class:"add-field-link-be add-field-link"
      %li= link_to_remove_association content_tag(:i, " Удалить", class: 'fa fa-trash-o'), f
  / %tr
  /  Инфо: ...
 = f.fields_for :placements do |p|
  = render 'placement_fields', f: p