%i{class: "fa fa-caret-down"} 
 Графики
.charts
 .year
  = line_chart @exams.month_data_for_chart, min: 0, max: 100, xtitle: "Дата", ytitle: "Процент выполнения", library: {  hAxis: {format:"d MMM(HH:mm)"}, vAxis: {}}, title: "Оценка"
 .month  
  = line_chart [ { name: "Процент выполнения", data: @exams.month_data_for_chart }, { name: "Достоверность", data: @exams.realness_month_data } ], min: 0, max: 100, library: {  hAxis: {format: "MMM"}, vAxis: {}}
 / .month
 /  = line_chart @examinations.year_data_for_chart, min: 0, max: 100, xtitle: "Дата", ytitle: "Процент выполнения", library: {  hAxis: {format: "MMM"}, vAxis: {}}, title: "Оценка"