%table
 %thead
  %tr
   %th Дата
   %th Оценка
   %th Достоверность
   %th Проверил
 - @exams.last_five.each do |f|
  %tr
   %td
    %p=l f.created_at.to_datetime, format: :custom
   %td
    %p= link_to "#{f.mark.round(1)}", f
   %td
    %p= f.realness
   %td
    %p= f.user.name