.boxing-smallest.nested-fields
 %table
  %tr
   %td.order-number
    %p
   %td
    = f.text_field :kind, class: "input"
   %td.context-menu{oncontextmenu:"return false;"}
    %i{class: "fa fa-bars"}
    .context-menu-list.moved-menu
     %ul
      %li= link_to_add_association content_tag(:i, " Добавить элемент обстановки", class: 'fa fa-plus-square-o'), f, :inside_objects, "data-association-insertion-method" => 'append', "data-association-insertion-node" => '.num-3', class: 'add-field-link add-inside-object-button'
      %li= link_to_remove_association content_tag(:i, " Удалить", class: 'fa fa-trash-o'), f
  %tr.nested-list
   %td
   %td
    .triangle= content_tag(:i, " Вложенный список", class: 'fa fa-caret-up', id: "triangle")
    .inside-object-box.inside-object-box-3
   %td
    .triangle= content_tag(:i, "", class: 'fa fa-caret-up', id: "triangle")