.boxing-smaller.nested-fields
 %table
  %tr.placement-input
   %td.order-number
    %p
    / = f.index
   %td
    = f.text_field :kind, class: "input"
   %td.context-menu{oncontextmenu:"return false;"}
    %i{class: "fa fa-bars"}
    .context-menu-list
     %ul
      %li=link_to_add_association content_tag(:i, " Добавить вложенный элемент", class: 'fa fa-plus-square-o'), f, :nested_placements, "data-association-insertion-method" => 'append', class:"add-field-link-pl add-field-link", "data-association-insertion-node" => '.num-3'
      %li= link_to_remove_association content_tag(:i, " Удалить", class: 'fa fa-trash-o'), f
      %li= link_to_add_association content_tag(:i, " Добавить элемент обстановки", class: 'fa fa-plus-square-o'), f, :inside_objects, "data-association-insertion-method" => 'append', "data-association-insertion-node" => '.num-2 .inside-object-box-2', class: 'add-field-link add-inside-object-button'
  %tr.nested-list
   %td
   %td
    .triangle= content_tag(:i, " Вложенный список", class: 'fa fa-caret-up', id: "triangle")
    .inside-object-box.inside-object-box-2
   %td
    / .triangle= content_tag(:i, "", class: 'fa fa-caret-down', id: "triangle")