%table.table-minimal
 %thead
  %tr
   %th Время
   %th Номер ворот
   %th Номер карты
   %th in/out
 %tbody
 - TimeSheet.all.each do |d|
  %tr
   %td= l d.timestamp
   %td= d.gate_id
   %td= d.card_id
   %td= d.kind_of_enterence