.columned-forms
 = form_for @facility do |f|
  .facility-name
   %i{class: 'fa fa-pencil-square-o'}= f.text_field :name, default: 'Название нового объекта'
  .form-button
   .add-button
    = link_to_add_association content_tag(:i, " Добавить Элемент", class: 'fa fa-plus-square-o'), f, :build_elements, id: "add-be", "data-association-insertion-method" => 'append', "data-association-insertion-node" => '.num-1'
   .form-cell
    .form-column.num-1
     - build_elements = 0
     = f.fields_for :build_elements do |be|
      .boxing.nested-fields{id: be.object.id}
       - build_elements += 1
       %table
        %tr
         %td.order-number
          %p= build_elements
         %td.input
          = be.text_field :kind
         %td.context-menu{oncontextmenu:"return false;"}
          %i{class: "fa fa-bars"}
          .context-menu-list
           %ul
            %li=link_to_add_association content_tag(:i, " Добавить вложенный элемент", class: 'fa fa-plus-square-o'), be, :placements, "data-association-insertion-method" => 'append', "data-association-insertion-node" => '.num-2', class:"add-field-link-be add-field-link"
            %li= link_to_remove_association content_tag(:i, " Удалить", class: 'fa fa-trash-o'), be
    .form-column.num-2
     - build_elements = placements = 0
     = f.fields_for :build_elements do |be|
      - build_elements += 1
      = be.fields_for :placements do |pl|
       - placements += 1
       .boxing-smaller.nested-fields{id: pl.object.id, 'data-parent-id': be.object.id}
        %table
         %tr
          %td.order-number
           %p="#{build_elements}.#{placements}"
          %td.input
           = pl.text_field :kind  
          %td.context-menu{oncontextmenu:"return false;"}
           %i{class: "fa fa-bars"}
           .context-menu-list
            %ul
             %li=link_to_add_association content_tag(:i, " Добавить вложенный элемент", class: 'fa fa-plus-square-o'), pl, :nested_placements, "data-association-insertion-method" => 'append', "data-association-insertion-node" => '.num-3', class:"add-field-link-pl add-field-link"
             %li= link_to_remove_association content_tag(:i, " Удалить", class: 'fa fa-trash-o'), pl, wrapper_class: "boxing-smaller"
             %li= link_to_add_association content_tag(:i, " Добавить элемент обстановки", class: 'fa fa-plus-square-o'), pl, :inside_objects, "data-association-insertion-method" => 'append', "data-association-insertion-node" => ".num-2 ##{pl.object.id} .inside-object-box-2", class: 'add-field-link add-inside-object-button'
         %tr.nested-list.nested-fields{style: "#{pl.object.inside_objects.count == 0 ? 'display: none;' : 'display: table-row;' }"}
          %td
          %td
           .triangle= content_tag(:i, " Вложенный список", class: 'fa fa-caret-down', id: "triangle")
           .inside-object-box-2.inside-object-box
            = pl.fields_for :inside_objects do |fpl|
             %table.inside-object
              %tr
               %td
                = fpl.text_field :kind
               %td.trash
                = link_to_remove_association content_tag(:i, "", class: 'fa fa-trash-o'), fpl, wrapper_class: "inside-object"

          %td
      - placements = 0
     - build_elements = 0
    .form-column.num-3     
     - build_elements = placements = nested_placements = 0
     = f.fields_for :build_elements do |be|
      - build_elements += 1
      = be.fields_for :placements do |pl|
       - placements += 1
       = pl.fields_for :nested_placements do |npl|
        - nested_placements += 1
        .boxing-smallest.nested-fields{id: npl.object.id, 'data-parent-id': pl.object.id}
         %table
          %tr
           %td.order-number
            %p="#{build_elements}.#{placements}.#{nested_placements}"
           %td.input
            = npl.text_field :kind
           %td.context-menu.moved-menu{oncontextmenu:"return false;"}
            %i{class: "fa fa-bars"}
            .context-menu-list.moved-menu
             %ul
              %li= link_to_add_association content_tag(:i, " Добавить элемент обстановки", class: 'fa fa-plus-square-o'), npl, :inside_objects, "data-association-insertion-method" => 'append', "data-association-insertion-node" => ".num-3 ##{npl.object.id} .inside-object-box-3", class: 'add-field-link add-inside-object-button'
              %li= link_to_remove_association content_tag(:i, " Удалить", class: 'fa fa-trash-o'), npl
          %tr.nested-list{style: "#{npl.object.inside_objects.count == 0 ? 'display: none;' : 'display: table-row;' }"}
           %td
           %td
            .triangle= content_tag(:i, " Вложенный список", class: 'fa fa-caret-down', id: "triangle")
            .inside-object-box.inside-object-box-3
             = npl.fields_for :inside_objects do |fnpl|
              %table.inside-object
               %tr
                %td
                 = fnpl.text_field :kind
                %td.trash
                 = link_to_remove_association content_tag(:i, "", class: 'fa fa-trash-o'), fnpl, wrapper_class: "inside-object"
           %td
       - nested_placements = 0
      - placements = 0
     - build_elements = 0    
  .submit-button
   = f.submit "Сохранить изменения", id: "submit"
= link_to 'Удалить объект', @facility, method: :delete