.facility_box
 .facility
  %table
   %thead
    %tr
     %th Список Объектов
     %th Дата последней проверки
   %tbody
   - @facilities.each do |f|
    %tr
     %td= link_to f.name, facility_path(f)
     / OPTIMIZE
     /%td= f.examinations.empty? ? 'none' : localize(f.examinations.last.created_at)
     %td= f.examinations.empty? ? 'none' : f.examinations.last.created_at.to_formatted_s(:custom)
= link_to 'Создать новый объект', new_facility_path