.columned-forms
 = form_for @facility, url: facility_index_path, method: :post do |f|
  = f.label :name, 'Название нового объекта'
  = f.text_field :name, default: 'Название нового объекта'
  .form-button
   .add-button
    = link_to_add_association content_tag(:i, " Добавить Элемент", class: 'fa fa-plus-square-o'), f, :build_elements, id: "add-be", "data-association-insertion-method" => 'append', "data-association-insertion-node" => '.num-1'
   .form-cell
    .form-column.num-1
     = f.fields_for :build_elements do |be|
      = render partial: 'build_element_fields', f: be
    .form-column.num-2
    .form-column.num-3
  .submit-button
   = f.submit "Создать", id: "submit"
= render 'layouts/dublicating_facility'