.facility_box
 .name
  %h1= @facility.name
  = link_to 'Редактировать объект', edit_facility_path(@facility), class: 'facility-edit-link'
  %br
  = link_to 'Начать проверку', new_facility_examination_path(@facility)
  %br
 .stats
  = render partial: 'stats'
 .inspection_list
  = render partial: 'inspections_index'
 .chartkick
  = render partial: 'chartkick'
 / .itinerary-index
 /  = render template: 'itineraries/index'
 


 / .emplyee-index
 /  = render template: 'employees/index'
/ .schedule_table
/ =# render partial: 'schedule_table'