<div class="sign_up_in">
<h2>Добро пожаловать!</h2>
<br><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "Почта при регистрации" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "Пароль" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Запомнить меня" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Войти" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>