.unexamined{
  // display:none;
}
.unexamined-yet{
  p{
    color: silver;
  }
  .inspect{
    // background-color: white;
    border: solid black 1px;
    border-radius: 5px;
  }
}
table{
  .context-menu-list{
    display: none;
    position: absolute;
    background-color: $default_orange;
    padding: 3px 12px;
    cursor: pointer;
  }
}
@media screen and (min-width: 480px) {
    body {
      .mobile-menu, .mobile-inspection-box{
        display:none;
      }
      .inspection_box{
        width: 600px;
        margin:auto;
      }
        // background-color: lightgreen;
    }
}
// ------------------------------------ MOBILE VERSION
@media screen and (max-width: 480px) {
  body {
    .mobile-inspection-box{
      .mobile-submit{
        // margin-top: 300px;
        // position: relative;
        bottom: 5px;
      }
      .hidden{
        display: none;
      }
      .placement-boxes{
        .placement-box{
          .content{
            @include span-columns(12); 
          }
          cursor: pointer;
          @include span-columns(4);
          word-wrap: normal;
          overflow: hidden;
          // display: inline-block;
          // width: 90px;
          height: 50px;
          border: solid black 1px;
        }
      }
      table{
        // border: solid black 1px;
        tr{
          // border: solid black 1px;
          .inside-objects, .nested_placement{
            width:90%;
          }
          .list-point{
            width: 5%;
            i{
              padding: 0px;
            }
          }
          .inspect{
            input{
              display: none;
            }
            width: 5%;
          }
          td{
            // border: solid black 1px;
          }
        }
      }
    }
    .inspection_box{
      display: none;
    }
    .mobile-menu{
      margin-left: -20px;

      .closed{
         margin-left: -238px;
       }
       .aside-menu{
         position: absolute;
         cursor: pointer;
         background-color:silver;
         width: 250px;
         // @include span-columns(8);
         .content{
           margin-left: 40px;
           table{
             // margin: 25px 0;      	
             tr{
               height: 20px;
             }
           }
         }
         .menu-button{
           background-color: red;
           // background-color:gray;
           p{
             text-align: right;
           }
           margin-right: -47px;
         }
       }

    }
  }
}
table{
  // border: solid black 1px;
  tr{
    // border: solid black 1px;
    td{
      // border: solid black 1px;
    }
  }
}