$default_blue: #30C5FF; //rgb(7, 74, 156);
$second_color: #A8DADC;
$green_color: #139A43;
$default_red: #E63946;
$default_orange: #F67C5A;
$default_background: white;
$obfuscation_color: gray;
*{
  border-radius: 5px;
}
input{
  max-width: 500px;
}
.table-minimal{
  @include span-columns(12);
  p{
    text-align: center;
  }
  .comments{
    width: 200px;
  }
}
.sign_up_in{
  width: 900px;
  margin: auto;
  text-align: center;
  float: center;
  input{
    margin: auto;
    float: center;
  }
}
.or-copy-object{
  width: 600px;
  margin: auto;
}
.inside-object{
  margin-bottom: 1px;
}
@mixin default_font{
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
  font-size: 1em;
}
.nav-link{
  a{
    @include default_font;
    font-size: 1.1em !important;
  }
}
a, li{
  @include default_font;
}
body{
  background: $default_background;
}
@mixin default_border{
  border-radius: 5px;
  border: solid $default_orange 2px;

}
.input{
  align: center;
}
.facility-name{
  margin: 2px auto;
  width: 600px;
  padding: auto;
  i{
    color: rgba(154, 154, 154, 1);
  }
  input{
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.06);
    border:1px solid rgba(221, 221, 221, 0);
    text-align: center;
    font-size: 1.3em;
    font-weight: 800;
    margin: 0px;
    margin-left: 50px;
    margin-right: 0px;
  }
}
.remove_fields{
  i{
    color: $default_red;
    font-weight: 600;
  }
}
.add_fields{
  i{
    font-weight: 600;
  }
}
.add-button{
  color: $default_background;
  font-weight: 600;
  background: $default_orange;
  @include default_border;
}
.moved-menu{
  margin:-80px -280px;
}
.obfuscation{
  // opacity: 0.2;
  background: $obfuscation_color !important;
  table{
    background: $obfuscation_color;
  }
  tr{
    background: $obfuscation_color;
    input{
      background: $obfuscation_color;
    }
    i{
      // display:none;
    }
  }
}
.columned-forms{
  width: 100%;
  height: 100%;
  min-height: 1px;
  text-align: center;
  display: block;
  margin: auto;
  input{
    width: 500px;
  }
  .form-button{
    .boxing .nested-fields{
      border-radius: 5px;
    }
    .nested-fields{
      // @include default_border;
      border-radius: 7px;
      margin-bottom: 1.5px;
      background: rgba(255,0,0, 0.1);
    }
    .add-button{
      margin: 2px 450px 2px 10px;
      width: 200px;
      font-weight: 600;
    }
    .form-cell{
      min-width: 300px;
      min-height: 100px;
      margin: 0px 10px;
      .form-column{
        .obfuscation{
          // opacity: 0.2;
          background: $obfuscation_color !important;
          border-color: $obfuscation_color;
          table{
            background: $obfuscation_color;
          }
          tr{
            background: $obfuscation_color;
            input{
              background: $obfuscation_color;
            }
            i{
              // display:none;
            }
          }
        }
        border-radius: 5px;
        table{
          border-radius: 5px;
          margin: 0px;
          background: $default_orange;
          .nested-list{
            display: none;
            .inside-object-box{
              display: none;
            }
          }
          tr{
            td{
              .triangle{
                width: 100%;
                padding: 0px;
              }
              width: 220%;
              padding: 0px;
            }
          }
        }
        @include span-columns(4);        
        display: inline-block;
        background: $default_background;
        margin: 1px;
        width: 33.1%;
        input{
          width: 100%;
          margin: 5px 0;
          float: right;
        }
        .order-number{
          width: 30%;
          color: $default_background;
          p{
            @include default_font;
            margin: 10px 5px;
            font-size: 1.2em;
            text-align: center;
          }
        }
        .context-menu{
          height: 100%;
          width: 30px;
          .context-menu-list{
            position: absolute;
            width: 300px;
            li{
              &:first-child{
              }
              a.add_fields{
                  color: $green_color;
              }
              a.remove-fields{
                  color: $default_red;
              }
              box-shadow: 2px 2px 2px 1px gray;
              border-radius: 5px;
              margin-bottom: 0px;
              display: none;
              background: $default_orange;
              @include default_border;
              border-color: $default_background;
              border-bottom: solid shade($default_orange, 10%) 2px;
              padding: 10px;
              // margin-left: -20px;
              text-align: left;
              float: left;
              min-width: 330px;
              // opacity: 1 !important;
              i{
                float: left;
                color: $default_background;
              }
            }
          }
        }
        .trash{
          width: 30px;
        }
      }
    }
  }
  .submit-button{
    input{
      margin: 50px 550px;
      width: 250px;
      padding: 10px;
      // width: auto;
    }
  }
}
.facility_box{
  margin: 25px 0 0 0;
  display: inline-block;
  @include span-columns(12);
  // @include outer-container;
  h1{
    text-align: center;
  }
  nav{
    li{
      float: left;
    }
  }
  .name{
    height: 100px;
    @include span-columns(12);
    padding: 0.75em;
  }
  .stats{
    margin: auto;
    text-align: center;
    float: center;
    height: auto;
  }
  .chartkick{
    // width: 600px;
  }
  
  .employee-index{
    // border: solid black 1px;
    // width: 400px;
    // height:
     td{
       float: center;
       align: center;
       padding: 2px;
     }
  }
  
}
.to_center{
  margin: auto;
}
@media screen and (min-width: 480px) {

  body {
        .facility{
          @include span-columns(6);
          @include shift(3);
        }
        .itinerary-index{
          @include span-columns(6);
          // border: solid black 1px;
          // width: 600px;
          // height: 200px;
         }
        .itinerary-index{
          @include span-columns(6);
          table{
            @include span-columns(6);  
          }
          
        }
        .inspection_list{
          @include span-columns(6);
          // @include shift(4.5);
          table{
            @include span-columns(12);
            width: 600px;
          }  
        }
        .stats{
          @include span-columns(6);
          @include omega();
        }
        .employee-index{
          @include span-columns(6);
        }
        .chartkick{
          .year{
            @include span-columns(6);  
          }
          .month{
            @include span-columns(6);  
          }
          i{
            display:none;
          }
        }
   }
}
// .inspection_list{
//     @include span-columns(12);
//     border: solid black 1px;

//     table{
//       td{
//         float: center;
//         align: center;
//         padding: 2px;
//       }
//     }
//   }
@media screen and (max-width: 480px) {
    .facility-edit-link{
      display:none;
    }
    body {
      .facility{
        @include span-columns(12);
        // @include shift(3);
      }
      .itinerary-index{
        @include span-columns(12);
        // border: solid black 1px;
        // width: 600px;
        // height: 200px;
      }
      .inspection_list{
        @include span-columns(12);
        table{
          @include span-columns(12);
        }  
      }
      .stats{
        @include span-columns(12);
        li{
          @include span-columns(4);
        }
        // @include omega();
      }
      .employee-index{
        @include span-columns(12);
      }
      .chartkick{
        .charts{
          display:none;
          .year{
            @include span-columns(10);
          }
          .month{
            @include span-columns(10);  
          }
        }
      }
      .to_center{
        text-align: center;
        align: center;
        li{
          float: center;
          text-align: center;
          align: center;
          border: 1px;
          display: block;
        }
       }
    }
}