.new-itinenrary{
  width: 900px;
  margin: 0 auto;
  fieldset{
    border: solid black 1px;
    table{
      input{
        // width: 40px;
        // height: 40px;
      }
      margin: 0;
      width: 460px;
      tr{
        height: 10px;
      }
    }
  }
  .list{
    margin-left: 30px;
  }
  .second{
    margin-left: 120px;
  }
  .third{
    margin-left: 240px;
  }
}