td{
        width: 100px;
        height: 20px;
      }
.users-list{
  td{
        width: 100px;
        height: 20px;
     }
  table{
    width: 900px;
    margin: 0 auto;
    tr{
      td{
        width: 100px;
        height: 20px;
        input{
        }
      }
    }
    .user-status-button{
      // width: 222px;
      width: 312px;
    }
  }
}
