.mobile-menu
 .aside-menu.closed
  .menu-button
   %p Меню
  .content
   %table
    - @facility.build_elements.each do |b|
     %tr
      %td{'data-build_element-id': b.id}
       %b= b.kind
   %button.fake-submit
    Закончить проверку
%br