.mobile-inspection-box
 = render 'mobile_new_menu'
 %br
 = form_for [@facility, @examination] do |exam|
  - @facility.build_elements.each do |build_element|
   .hidden.build-element{'data-build-element-id'=>"#{build_element.id}"}
    .placement-boxes
     = render 'placement_boxes', build_element: build_element
    .placement-list
     - build_element.placements.each do |pl|
      = render 'self_and_inside_objects', pl: pl, exam: exam
  .mobile-submit.hidden
   = exam.hidden_field :user_id, value: current_user.id
   = exam.submit "Закончить проверку"
       