- unless pl.nested_placements.empty?
 %h2 Вторая степень вложенности
 %table
  - pl.nested_placements.each do |np|
   %tr.unexamined-yet
    %td.object-name{oncontextmenu:"return false;"}
     %p= np.kind
     .context-menu-list
      %ul
       %li.add-comment= "Добавить комментарий"
       %li.attach-file= "Прикрепить файл"
       %li.set-unexamined= "Установить 'Не проверено'"
     .comments.hidden
      .comment
       = exam.fields_for :comments, Comment.new() do |comment|
        = comment.text_field :content, class: "comment-content"
        = comment.hidden_field :parent_type, value: "Placement"
        = comment.hidden_field :parent_id, value: np.id
    %td.inspect
     = exam.check_box("nested_placements", {multiple: true, class: "mark"}, np.id, nil )
     = exam.check_box("unexamined", {multiple: true, checked: true, class: "unexamined"}, 1, nil)
   - unless np.inside_objects.empty?
    %table
     %h2 Вложенные Внутренние объекты
     - np.inside_objects.each do |nio|
      %tr.unexamined-yet
       %td.object-name{oncontextmenu:"return false;"}
        %p= nio.kind
        .context-menu-list
         %ul
          %li.add-comment= "Добавить комментарий"
          %li.attach-file= "Прикрепить файл"
          %li.set-unexamined= "Установить 'Не проверено'"
        .comments.hidden
         .comment
          = exam.fields_for :comments, Comment.new() do |comment|
           = comment.text_field :content, class: "comment-content"
           = comment.hidden_field :parent_type, value: "InsideObject"
           = comment.hidden_field :parent_id, value: nio.id
       %td.inspect
        = exam.check_box("inside_objects", {multiple: true, class: "mark"}, nio.id, nil )
        = exam.check_box("unexamined", {multiple: true, checked: true, class: "unexamined"}, 1, nil)