.hidden.placement{'data-placement-id'=>"#{pl.id}"}
 .content
  %br 
  %br
  %br
  %table
   %tr.unexamined-yet
    %td.object-name{oncontextmenu:"return false;"}
     %p= pl.kind
     .context-menu-list
      %ul
       %li.add-comment= " Добавить комментарий"
       / =link_to_add_association " Добавить комментарий", exam, :comments, class: "add-comment-link"
       %li.attach-file
        = exam.fields_for :attachments, Attachment.new() do |attach|
         = attach.file_field :file#, multiple: true#, " Прикрепить файл"
         = attach.hidden_field :attachable_for_type, value: "Placement"
         = attach.hidden_field :attachable_for_id, value: pl.id
        / = exam.file_field :photos, multiple: true#, " Прикрепить файл"
       %li.set-unexamined= " Установить 'Не проверено'"
     .comments.hidden
      .comment
       = exam.fields_for :comments, Comment.new() do |comment|
        = comment.text_field :content, class: "comment-content"
        = comment.hidden_field :parent_type, value: "Placement"
        = comment.hidden_field :parent_id, value: pl.id
    %td.inspect
     = exam.check_box("placements", {multiple: true, class: "mark"}, pl.id, nil)
     = exam.check_box("unexamined", {multiple: true, class: "unexamined", checked: true}, 1, nil)
  - unless pl.inside_objects.empty?
   %h2 Внутренние объекты
   %table
    - pl.inside_objects.each do |io|
     %tr.unexamined-yet
      %td.object-name{oncontextmenu:"return false;"}
       %p= io.kind
       .context-menu-list
        %ul
         %li.add-comment= "Добавить комментарий"
         %li.attach-file= "Прикрепить файл"
         %li.set-unexamined= "Установить 'Не проверено'"
       .comments.hidden
        .comment
         = exam.fields_for :comments, Comment.new() do |comment|
          = comment.text_field :content, class: "comment-content"
          = comment.hidden_field :parent_type, value: "InsideObject"
          = comment.hidden_field :parent_id, value: io.id
      %td.inspect
       = exam.check_box("inside_objects", {multiple: true, class: "mark"}, io.id, nil)
       = exam.check_box("unexamined", {multiple: true, checked: true, class: "unexamined"}, 1, nil)
  = render 'nested_placements', pl: pl, exam: exam