= render 'mobile_new'
/ .inspection_box
/  .kro_inspection
/   .inspection
/    = form_for [@facility, @examination] do |exam|
/     %b= @facility.name
/     %hr
/     .build_element_ki_new
/      - @build_elements.each do |be|
/       -if !be.placements.empty?
/        %b= be.kind
/        %br
/       /----------------ПОМЕЩЕНИЯ--------------------
/       -if !be.placements.empty?
/        .placement_ki_new
/         - be.placements.includes(:inside_objects, :nested_placements).each do |p|
/          .placement.unexamined-yet
/           = p.kind
/           = exam.check_box("placements", {multiple: true}, p.id, nil)
/           = exam.check_box("placements", {multiple: true, checked: true, class: "unexamined"}, "unexamined")
/          /----------------МЕБЕЛЬ-ПОМЕЩЕНИЯ-------------
/          -if !p.inside_objects.empty?
/           .inside_objects_ki_new
/            - p.inside_objects.each do |f|
/             .inside-object.unexamined-yet
/              = f.kind
/              = exam.check_box("inside_objects", {multiple: true}, f.id, nil)
/              = exam.check_box("inside_objects", {multiple: true, checked: true, class: "unexamined"}, "unexamined")
/          /----------------ВНУТРЕННИЕ-ПОМЕЩЕНИЯ----------
/          -if !p.nested_placements.includes(:inside_objects).empty?
/           .nested_placement_ki_new
/            - p.nested_placements.each do |np|
/             .nested-placement.unexamined-yet
/              = np.kind
/              = exam.check_box("nested_placements", {multiple: true}, np.id, nil)
/              = exam.check_box("nested_placements", {multiple: true, checked: true, class: "unexamined"}, "unexamined")
/             /----------------МЕБЕЛЬ-ВНУТРЕННИЕ-ПОМЕЩЕНИЯ----------
/             -if !np.inside_objects.empty?
/              .nested_inside_objects_ki_new
/               - np.inside_objects.each do |nf|
/                .nester-inside-object.unexamined-yet
/                 = nf.kind
/                 = exam.check_box("inside_objects", {multiple: true}, nf.id, nil)
/                 = exam.check_box("inside_objects", {multiple: true, checked: true, class: "unexamined"}, "unexamined")
/        %hr
/     %br     
/     = exam.submit "Подтвердить"