.columned-forms
 = Placement.find(@examination.placements).each do |f|
  .facility-name
   = f.build_element.facility.name
  .form-button
   .form-cell
    .form-column.num-1
     - build_elements = 0
     = f.build_elements.each do |be|
      .boxing.nested-fields{id: be.object.id}
       - build_elements += 1
       %table
        %tr
         %td.order-number
          %p= build_elements
         %td.input
          = be.text_field :kind
  /   .form-column.num-2
  /    - build_elements = placements = 0
  /    = f.fields_for :build_elements do |be|
  /     - build_elements += 1
  /     = be.fields_for :placements do |pl|
  /      - placements += 1
  /      .boxing-smaller.nested-fields{id: pl.object.id, 'data-parent-id': be.object.id}
  /       %table
  /        %tr
  /         %td.order-number
  /          %p="#{build_elements}.#{placements}"
  /         %td.input
  /          = pl.text_field :kind  
  /        %tr.nested-list.nested-fields{style: "#{pl.object.inside_objects.count == 0 ? 'display: none;' : 'display: table-row;' }"}
  /         %td
  /         %td
  /          .triangle= content_tag(:i, " Вложенный список", class: 'fa fa-caret-down', id: "triangle")
  /          .inside-object-box-2.inside-object-box
  /           = pl.fields_for :inside_objects do |fpl|
  /            %table.inside-object
  /             %tr
  /              %td
  /               = fpl.text_field :kind
  /         %td
  /     - placements = 0
  /    - build_elements = 0
  /   .form-column.num-3     
  /    - build_elements = placements = nested_placements = 0
  /    = f.fields_for :build_elements do |be|
  /     - build_elements += 1
  /     = be.fields_for :placements do |pl|
  /      - placements += 1
  /      = pl.fields_for :nested_placements do |npl|
  /       - nested_placements += 1
  /       .boxing-smallest.nested-fields{id: npl.object.id, 'data-parent-id': pl.object.id}
  /        %table
  /         %tr
  /          %td.order-number
  /           %p="#{build_elements}.#{placements}.#{nested_placements}"
  /          %td.input
  /           = npl.text_field :kind
  /         %tr.nested-list{style: "#{npl.object.inside_objects.count == 0 ? 'display: none;' : 'display: table-row;' }"}
  /          %td
  /          %td
  /           .triangle= content_tag(:i, " Вложенный список", class: 'fa fa-caret-down', id: "triangle")
  /           .inside-object-box.inside-object-box-3
  /            = npl.fields_for :inside_objects do |fnpl|
  /             %table.inside-object
  /              %tr
  /               %td
  /                = fnpl.text_field :kind
  /          %td
  /      - nested_placements = 0
  /     - placements = 0
  /    - build_elements = 0    
  / 