.or-copy-object
 %h2 или создать дубликат объекта:
 = form_tag '/dublicate', method: :post do
  = select_tag "facility", options_from_collection_for_select(Facility.all, "id", "name"), { defailt: "hi" }
  = text_field_tag "dublicate_name", "Название дубликата"
  = submit_tag "ok"
 %br