<!DOCTYPE html>
<html>
  <head>
    <title>KroApp2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi" %> <!-- To Add -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= evil_icons_sprite %>
    <%#console%>
  </head>
  <body>
  <div class="notice"></div>
  <div class="error"></div>
    <header class="centered-navigation" role="banner">
      <div class="centered-navigation-wrapper">
        <nav role="navigation">
        <% if signed_in? %>
          <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
            <li id="js-centered-more" class="nav-link"><%= link_to 'Объекты', facility_index_path%>
            </li>
            <li  class="nav-link"><%= link_to 'Пользователи', users_path if current_user.supervisor %>
            <li  class="nav-link"><%= link_to 'Личный кабинет', user_path(current_user) %>
            <!-- <li  class="nav-link"><%= link_to 'Рабочий персонал', users_path if current_user.supervisor %> -->
            <!-- <li  class="nav-link"><%= link_to 'Складские передвижения', users_path if current_user.supervisor %> -->
          </ul>
          <%end%>
        </nav>
      </div>
    </header>
      
    <%#= localize(Time.now) %>
    <%= yield %>
  </body>
  <!-- <footer class="footer" role="contentinfo"></footer> -->
</html>
